<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 添加属性 方式一：主动配置 优先级最低 -->
  <!--<properties>
    <property name="driver" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql:///test_song"/>
    <property name="username" value="root"/>
    <property name="password" value="123456"/>
  </properties>-->
  <!-- 添加属性 方式二：外部引入 推荐 -->
  <!-- 添加属性 方式三：硬编码 优先级最高 -->
  <!--<properties resource="dataSource.properties"/>-->
  <!-- settings 设置 -->
  <settings>
    <!-- 开启缓存 -->
    <setting name="cacheEnabled" value="true"/>
    <!-- 主键回填 -->
    <setting name="useGeneratedKeys" value="true"/>
    <!-- 延迟加载 -->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 数据库链接超时时间 -->
    <setting name="defaultStatementTimeout" value="25000"/>
  </settings>


  <!-- 别名 -->
  <!-- alias 不区分大小写 -->
  <typeAliases>
    <!--<typeAlias type="com.fly.mybatis.Role" alias="role"/>-->
    <package name="com.fly.mybatis"/> <!-- 此种配置方法，会将类名的首字母小写作为别用使用
                                            对于重名的类，可在类上使用 @Alias（name） 注解指定别名
                                        -->
  </typeAliases>

  <!-- 自定义类型转换器 -->
  <typeHandlers>
    <!-- 指定具体类，可使用类中制定的 JavaType 和 jdbcType，也可使用类的全限定名 -->
    <typeHandler handler="com.fly.mybatis.MyTypeHandler"/>
    <!-- 配置报扫描，可配置多个转换器，但是只能使用类的全限定名 ， 使用指定的 javaType 和 jdbcType 需在类上使用 @MappedTypes 和 @MappedJdbcTypes 指定具体类型 -->
    <!--<package name="com.fly.mybatis"/>-->
  </typeHandlers>

  <!-- 自定义对象工厂 -->
 <!-- <objectFactory type=""/>-->


  <!-- 数据源 -->
 <!-- <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/> &lt;!&ndash; mybatis 事务的两种实现方式 &ndash;&gt;
      &lt;!&ndash;<transactionManager type="MANAGED"/>&ndash;&gt;
      <dataSource type="POOLED"> &lt;!&ndash; 三种数据源 &ndash;&gt;
     &lt;!&ndash; <dataSource type="UNPOOLED">
      <dataSource type="JNDI">&ndash;&gt;
        <property name="driver" value="${driver}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="url" value="${url}"/>
      </dataSource>
    </environment>
  </environments>-->

  <!-- 映射器 -->
  <mappers>
    <!--<package name="com.fly.mybatis/*.xml"/>-->
    <mapper class="com.fly.mybatis.RoleMapper"/>
    <!--<mapper url="file:src/main/java/com/fly/mybatis/RoleMapper.xml"/>-->
    <!--
    resource 方式引入mapper.xml 不正确
    -->
    <!--<mapper resource="/com/fly/mybatis/RoleMapper.xml"/>-->
  </mappers>

</configuration>
